@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #15151E;
}

::-webkit-scrollbar-thumb {
  background: #1E1E2E;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00D9FF;
}
